:root {
  font-size: 62.5%;
  --ff-primary: "pulpo-rust-50";
  --ff-secondary: "input-mono-narrow";
}

*,
*::before,
*::after { box-sizing: border-box; }

a {
  text-decoration: none;
  background-color: transparent;
}

img {
  border-style: none;
  max-width: 100%;
  height: auto;
}

strong {
  font-weight: 800;
}

html,
body {
  display: flex;
  flex-direction: column;
  background: #28242f url(../../img/bg3.png) no-repeat center center/cover;
  background-blend-mode: color-dodge;
  filter: saturate(1.2) contrast(0.995);
  margin: 0;
  overflow-x: hidden;
  height: 100vh;
  color: #ffffff;
  font-family: "var(--ff-primary)", sans-serif;
  font-size: 1.6rem;
}


.container {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}

header {
  display: flex;
  align-items: center;
  width: min(max(80vw + 1rem), 70rem);
  margin-left: auto;
  margin-right: auto;
  margin-top: 4rem;
  margin-bottom: 3rem;
}

.header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: min(max(25vw + 1rem, 10rem), 18rem);
  padding: 1rem;
}

.header__title {
  font-size: min(max(3vw + 1rem, 2.2rem), 5.6rem);
  font-family: var(--ff-primary);
  text-align: center;
  color: #fafafa;
  margin: auto;
  width: 100%;
}

.search__wrapper {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 2rem;
}

.search__form {
  display: flex;
  align-items: stretch;
  width: min(max(70vw + 1rem, 20rem), 70rem);
}

.search__input {
  font-family: var(--ff-secondary);
  width: 100%;
  font-size: min(max(3vw, 1.2rem), 1.6rem);
  font-weight: 300;
  border: 0;
  padding: 1rem 1.6rem;
  margin-bottom: 1rem;
  border-radius: 100px;
}

.search__input:focus {
  outline: none;
  box-shadow:
    0 10px 40px -1px rgba(21, 255, 177, 0.6),
    1px 2px 12px 0 rgba(21, 255, 177, 0.8);
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  place-items: center;
  padding: 0 1.4rem;
  gap: 1.6rem;
}

.card {
  height: max(320px, 340px);
  width: 100%;
  max-width: 280px;
  background-color: transparent;
  perspective: 1000px;
  cursor: pointer;
}

.card__img {
  height: max(320px, 340px);
  width: 100%;
  max-width: 280px;
  object-fit: cover;
  object-position: top;
}

.card__title {
  font-size: min(max(4vw + 0.4rem, 2.4rem), 2.8rem);
  font-family: var(--ff-primary);
  color: #fafafa;
  border-bottom: 3px solid #fbfbfb;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.card__inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s ease;
  transform-style: preserve-3d;
}

.card:hover .card__inner {
  transform: rotateY(180deg);
}

.card__front,
.card__back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card__back {
  background-color: #17141d;
  color: rgba(255, 255, 255, 0.95);
  padding: 1rem 2rem;
  transform: rotateY(180deg);
}

.card__list {
  list-style: none;
  margin: 0 auto;
  padding: 1rem 0;
}

.card__item {
  font-family: var(--ff-secondary);
  /* font-size: clamp(1.4rem, 1.6rem, 2rem); */
  font-size: min(2vw + 1rem, 1.4rem);
  margin: 0;
  padding-bottom: 1rem;
}
