:root {
  font-size: 62.5%;
}

html {
  box-sizing: border-box;
}

*,
::before,
::after { box-sizing: inherit; }

a {
  text-decoration: none;
  background-color: transparent;
}

img {
  border-style: none;
  max-width: 100%;
  height: auto;
}

body {
  background: url(../../img/bg3.png) #323232;
  /* background-blend-mode: color-dodge; */
  background-blend-mode: exclusion;
  filter: saturate(1.2);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  min-height: 100vh;
  width: 100%;
  color: #ffffff;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 1.6rem;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-width: 1100px;
  margin: auto;
}

header {
  display: flex;
  align-items: center;
  max-width: 800px;
  width: 70%;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  padding: 1rem;
  max-width: 100%;
}

.intro {
  font-size: clamp(2rem, 4.5vw, 6rem);
  margin: 0 auto;
  padding: 0;
}

.search {
  height: 100px;
  margin: 0;
  padding: 0;
}

input[ type= "text" ] {
  display: block;
  font-size: 1.6rem;
  border: 0;
  width: 60%;
  padding: 1rem 1.6rem;
  max-width: 800px;
  margin: 20px auto;
  border-radius: 1.2rem;
  box-shadow: 4px 4px 12px -1px rgba(21, 255, 177, 0.6);
}

input[ type= "text" ]:focus {
  outline: none;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 10px;
  margin: 10px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: transparent;
  height: 320px;
  perspective: 1000px;
}

.card__title {
  min-width: 0;
  font-size: clamp(1.8rem, 2.4rem, 3rem);
  border-bottom: 2px #fafafa solid;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.card__img {
  width: 100%;
  height: 320px;
  object-fit: cover;
  object-position: top;
}

.card__inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s ease;
  transform-style: preserve-3d;
}

.card:hover .card__inner {
  transform: rotateY(180deg);
}

.card__front,
.card__back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card__back {
  background-color: #17141d;
  color: #f2f2f2;
  padding: 2rem;
  transform: rotateY(180deg);
}

.card__list {
  list-style: none;
  margin: 0;
  padding: 1rem 0;
}

.card__item {
  font-size: clamp(1rem, 1vw + 1rem, 1.6rem);
  margin: 0;
  padding-bottom: 6px;
}

@media screen and (min-width:1440px) {
  .logo {
    max-width: ;
  }
}

@media screen and (max-width:959px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width:767px) {
  .logo {
    max-height: 100px;
  }
}

@media screen and (max-width:639px) {
  .logo {
    max-width: 128px;
  }

  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width:500px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

@media (max-width:420px) {
  .card {
    max-height: 300px;
  }
}
