:root {
  font-size: 62.5%;
  --ff-primary: "pulpo-rust-50";
  --ff-secondary: "input mono narrow";
  --fw-300: 300;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --fw-800: 800;
}

*,
*::before,
*::after { box-sizing: border-box; }

a {
  text-decoration: none;
  background-color: transparent;
}

img {
  border-style: none;
  max-width: 100%;
  height: auto;
}

html,
body {
  display: flex;
  flex-direction: column;
  background: #28242f url(../../img/bg3.png) no-repeat center center/cover;
  background-blend-mode: color-dodge;
  filter: saturate(1.2) contrast(0.995);
  margin: 0;
  overflow-x: hidden;
  height: 100vh;
  color: #ffffff;
  font-family: "var(--ff-primary)", sans-serif;
  font-size: 1.6rem;
}


.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

header {
  display: flex;
  align-items: center;
  max-width: clamp(320px, 80vw - 20%, 800px);
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: clamp(110px, 50%, 180px);
  padding: 1rem;
  flex: 1;
}


.intro {
  font-size: clamp(2rem, 3vw + 1rem, 6rem);
  font-family: var(--ff-primary);
  text-align: center;
  width: 100%;
  padding: 0;
  color: #ffffff;
  margin: 0 auto;
  flex: 4;
}

.search__wrapper {
  margin: 0 auto;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100%;
  margin-bottom: 1rem;
}

input[ type= "text" ] {
  font-family: var(--ff-secondary);
  font-size: 1.4rem;
  font-weight: var(--fw-400);
  border: 0;
  padding: 1rem;
  border-radius: 1000px;
}

input[ type= "text" ]:focus {
  outline: none;
  box-shadow:
    0 10px 40px -1px rgba(21, 255, 177, 0.6),
    1px 2px 12px 0 rgba(21, 255, 177, 0.8);
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  place-items: center;
  gap: 2rem;
}

.card {
  height: max(320px, 360px);
  width: clamp(280px, 30rem, 320px);
  background-color: transparent;
  perspective: 1000px;
  cursor: pointer;
}

.card__img {
  height: max(320px, 360px);
  /* width: max(280px, 300px); */
  width: clamp(280px, 100%, 320px);
  object-fit: cover;
  object-position: top;
}

.card__title {
  font-size: clamp(2rem, 2.6rem, 3rem);
  font-family: var(--ff-secondary);
  border-bottom: 2px #fafafa solid;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.card__inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s ease;
  transform-style: preserve-3d;
}

.card:hover .card__inner {
  transform: rotateY(180deg);
}

.card__front,
.card__back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card__back {
  background-color: #17141d;
  color: #f2f2f2;
  padding: 1rem 2rem;
  transform: rotateY(180deg);
}

.card__list {
  list-style: none;
  margin: 0 auto;
  padding: 1rem 0;
}

.card__item {
  font-family: var(--ff-secondary);
  font-size: clamp(1.4rem, 1.6rem, 2rem);
  margin: 0;
  padding-bottom: 6px;
}
